@font-face {
    font-family: 'TempestApacheBold-Z0el';
    src: url("/ps-classics/fonts/TempestApacheBold-Z0el.otf") format("opentype");
}

@font-face {
    font-family: 'Xephyr-Z08l';
    src: url("/ps-classics/fonts/Xephyr-Z08l.otf") format("opentype");
}

@font-face {
    font-family: 'RussoOne-Regular';
    src: url("/ps-classics/fonts/cyrillic/RussoOne-Regular.ttf") format("truetype");
}

@font-face {
    font-family: 'Jura-Bold';
    src: url("/ps-classics/fonts/cyrillic/Jura-Bold.ttf") format("truetype");
}

@font-face {
    font-family: 'prototype';
    src: url("/ps-classics/fonts/prototype.ttf") format("truetype");
}

@font-face {
    font-family: 'neuropolitical';
    src: url("/ps-classics/fonts/neuropolitical.ttf") format("truetype");
}

@font-face {
    font-family: 'Roboto-Bold';
    src: url("/ps-classics/fonts/roboto-bold.ttf") format("truetype");
}

@font-face {
    font-family: 'Roboto-Light';
    src: url("/ps-classics/fonts/Roboto-Light.ttf") format("truetype");
}

@font-face {
    font-family: 'Roboto-Regular';
    src: url("/ps-classics/fonts/roboto-medium.ttf") format("truetype");
}

@font-face {
    font-family: 'Arial-Black';
    src: url("/ps-classics/fonts/ariblk.ttf") format("truetype");
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #13181a;
    /*background-image: url("/chan/img/Untitled.png");
    background-size: cover;
    background-repeat: repeat-y;
    background-position: center;*/
}

body {
    /*background-image: url("/chan/img/Untitled.png");
    background-size: cover;
    background-position: center;*/
}

#main-container {
    width: 100%;
    height: 100%;
    background-image: url("/ps-classics/img/night-sky-3840 x 2160.jpg");
    background-size: cover;
    background-position: center;
}

#navbar {
    position: relative;
    width: 100%;
    height: 9%;
    background-color: rgba(0, 0, 0, 0.1);
}

#top-section > #navbar {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
}

#navbar > #login-success-container {
    position: absolute;
    width: 14%;
    height: 75%;
    left: 82%;
    top: 15%;
    background-color: transparent;
}

#navbar > #login-success-container > #dropdown-menu-switch {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 16%;
    height: 75%;
    left: 81%;
    top: 15%;
    background-color: transparent;
}

#navbar > #login-success-container > #dropdown-menu-switch > i {
    position: absolute;
    font-size: 1.1em;
    margin-top: 35%;
    color: white;
    cursor: pointer;
}

#navbar > #login-success-container > #account-info {
    position: absolute;
    width: 60%;
    height: 100%;
    left: 20%;
    background-color: transparent;
    cursor: pointer;
}

#navbar > #login-success-container > #account-info > #image {
    position: absolute;
    width: 37%;
    height: 87%;
    top: 5%;
    border-radius: 100%;
    background-color: whitesmoke;
}

#navbar > #login-success-container > #account-info > #image > img {
    position: absolute;
    width: 100%;
    height: 100%;
}

#navbar > #login-success-container > #account-info > #username {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 60%;
    height: 50%;
    left: 39%;
    top: 23%;
    background-color: transparent;
}

#navbar > #login-success-container > #account-info > #username > span {
    position: absolute;
    font-size: 1em;
    top: 21%;
    font-family: 'Roboto-Regular', 'prototype', 'Jura-Bold', sans-serif;
    color: #b2c7e4;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

#site-name {
    position: absolute;
    width: 18%;
    height: 90%;
    left: 5%;
    top: 7%;
    background-color: transparent;
}

#site-name > #logo {
    position: absolute;
    width: 31%;
    height: 100%;
    background-color: transparent;
}

#site-name > #logo > img {
    position: absolute;
    width: 80%;
    height: 100%;
    left: 10%;
    top: -3%;
}

#site-name > #name-text {
    position: absolute;
    font-size: 2.1em;
    font-family: 'TempestApacheBold-Z0el';
    color: #b2c7e4;
    left: 35%;
    top: 29%;
}

#login-button {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 4%;
    height: 40%;
    background-color: #96afff;
    border-radius: 3px;
    left: 92%;
    top: 27%;
    cursor: pointer;
}

#login-button:active {
    background-color: #6779b3;
    -webkit-transition: background-color 0.1s linear;
    -moz-transition: background-color 0.1s linear;
    -ms-transition: background-color 0.1s linear;
    -o-transition: background-color 0.1s linear;
    transition: background-color 0.1s linear;
}

#login-button > span {
    position: absolute;
    font-size: 1.1em;
    font-family: 'prototype', 'Jura-Bold', sans-serif;
    color: black;
    margin-top: 7%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}


/* ============= LOGIN DATA START ============= */


#sign-in-main-container {
    position: absolute;
    width: 35%;
    height: 50%;
    left: 32.5%;
    top: 30%;
    background-color: transparent;
}

#sign-in-main-container > #bottom-container {
    position: absolute;
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 10%;
    top: 47.5%;
    background-color: transparent;
}

#sign-in-main-container > #bottom-container > #reset-password-link {
    font-size: 1em;
    margin-top: 7px;
    left: 35%;
    font-family: 'RussoOne-Regular', 'prototype', 'Jura-Bold', sans-serif;
    color: #b2c7e4;
    text-decoration: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

#sign-in-main-container > #top {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 13%;
    background-color: transparent;
}

#sign-in-main-container > #top > span {
    position: absolute;
    font-size: 2.5em;
    font-family: 'prototype', 'Jura-Bold', sans-serif;
    color: #b2c7e4;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

#sign-in-main-container > #mid {
    width: 100%;
    height: 13%;
    background-color: transparent;
}

#sign-in-main-container > #mid > #inner {
    width: 80%;
    height: 100%;
    margin-left: 10%;
    background-color: transparent;
}

#sign-in-main-container > #mid > #inner > span {
    position: relative;
    font-size: 1.1em;
    top: 13%;
    font-family: 'prototype', 'Jura-Bold', sans-serif;
    color: #b2c7e4;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

#login-username-field {
    position: absolute;
    width: 80%;
    padding-left: 13px;
    padding-top: 10px;
    padding-bottom: 10px;
    left: 9%;
    color: white;
    background-color: black;
    outline: none;
    border: 1px solid #738399;
    border-radius: 5px;
    font-size: 0.9em;
}

#login-username-field-error {
    position: absolute;
    top: 37.5%;
    left: 65.5%;
    font-size: 1em;
    font-family: 'prototype', 'Jura-Bold', sans-serif;
    color: red;
}

#login-password-field {
    position: absolute;
    width: 80%;
    padding-left: 13px;
    padding-top: 10px;
    padding-bottom: 10px;
    left: 9%;
    top: 26%;
    color: white;
    background-color: black;
    outline: none;
    border: 1px solid #738399;
    border-radius: 5px;
    font-size: 0.9em;
}

#login-password-field-error {
    position: absolute;
    top: 44%;
    left: 65.5%;
    font-size: 1em;
    font-family: 'prototype', 'Jura-Bold', sans-serif;
    color: red;
}

#submit-login-data {
    position: absolute;
    width: 80%;
    height: 8%;
    font-size: 1.1em;
    font-family: 'prototype', 'Jura-Bold', sans-serif;
    color: black;
    background-color: #96afff; /* click #6273a9 */
    border: none;
    border-radius: 5px;
    left: 10%;
    top: 38%;
    cursor: pointer;
}

#submit-login-data:active {
    background-color: #6779b3;
    -webkit-transition: background-color 0.1s linear;
    -moz-transition: background-color 0.1s linear;
    -ms-transition: background-color 0.1s linear;
    -o-transition: background-color 0.1s linear;
    transition: background-color 0.1s linear;
}

/* ============= LOGIN DATA END ============= */




/* ============= PASSWORD RESET DATA START ============= */

#reset-password-main-container {
    position: absolute;
    width: 35%;
    height: 50%;
    left: 32.5%;
    top: 30%;
    background-color: transparent;
}

#reset-password-main-container > #top {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 11%;
    background-color: transparent;
}

#reset-password-main-container > #top > span {
    position: absolute;
    font-size: 2.5em;
    font-family: 'prototype', 'Jura-Bold', sans-serif;
    color: #b2c7e4;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

#reset-password-main-container > #mid {
    width: 100%;
    height: 12%;
    background-color: transparent;
}

#reset-password-main-container > #mid > #inner {
    display: flex;
    justify-content: center;
    width: 80%;
    height: 100%;
    margin-left: 10%;
    background-color: transparent;
}

#reset-password-main-container > #mid > #inner > span {
    position: relative;
    font-size: 1.1em;
    top: 13%;
    font-family: 'prototype', 'Jura-Bold', sans-serif;
    color: #b2c7e4;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

#reset-pass-field {
    position: absolute;
    width: 80%;
    padding-left: 13px;
    padding-top: 10px;
    padding-bottom: 10px;
    left: 9%;
    margin-top: 0.7%;
    color: white;
    background-color: black;
    outline: none;
    border: 1px solid #738399;
    border-radius: 5px;
    font-size: 0.9em;
}

#reset-pass-field-error {
    position: absolute;
    top: 19.5%;
    left: 65.5%;
    top: 43%;
    font-size: 1em;
    font-family: 'prototype', 'Jura-Bold', sans-serif;
    color: red;
}

#submit-reset-pass {
    position: absolute;
    width: 80%;
    height: 8%;
    font-size: 1.1em;
    font-family: 'prototype', 'Jura-Bold', sans-serif;
    color: black;
    background-color: #96afff; /* click #6273a9 */
    border: none;
    border-radius: 5px;
    left: 10%;
    top: 36%;
    cursor: pointer;
}

#submit-reset-pass:active {
    background-color: #6779b3;
    -webkit-transition: background-color 0.1s linear;
    -moz-transition: background-color 0.1s linear;
    -ms-transition: background-color 0.1s linear;
    -o-transition: background-color 0.1s linear;
    transition: background-color 0.1s linear;
}

/* ============ PASSWORD RESET DATA END ============= */



/* ============= REGISTRATION DATA START ============= */

#sign-up-main-container {
    position: absolute;
    width: 35%;
    height: 50%;
    left: 61%;
    top: 30%;
    background-color: transparent;
}

#sign-up-errors-container {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 35%;
    height: 20%;
    left: 61%;
    top: 76%;
    background-color: transparent;
}

#sign-up-errors-container > .error > i {
    position: absolute;
    color: whitesmoke;
    margin-left: 90%;
    margin-top: 11px;
    cursor: pointer;
}

#sign-up-errors-container > .error {
    position: absolute;
    justify-content: center;
    display: none;
    width: 80%;
    height: 21%;
    background-color: #cd002f;
    border-radius: 5px;
}

#sign-up-errors-container > .error > span {
    position: absolute;
    font-size: 1em;
    top: 25%;
    font-family: 'prototype', 'Jura-Bold', sans-serif;
    color: white;
}

#sign-up-errors-container > .error:nth-child(2) {
    position: absolute;
    top: 23%;
    background-color: #cd002f;
    border-radius: 5px;
}

#sign-up-errors-container > .error:nth-child(3) {
    position: absolute;
    top: 46%;
    background-color: #cd002f;
    border-radius: 5px;
}

#sign-up-errors-container > .error:nth-child(4) {
    position: absolute;
    top: 69%;
    background-color: #cd002f;
    border-radius: 5px;
}

#sign-up-main-container > #top {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 13%;
    background-color: transparent;
}

#sign-up-main-container > #top > span {
    position: absolute;
    font-size: 2.5em;
    font-family: 'prototype', 'Jura-Bold', sans-serif;
    color: #b2c7e4;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

#sign-up-main-container > #mid {
    width: 100%;
    height: 13%;
    background-color: transparent;
}

#sign-up-main-container > #mid > #inner {
    width: 80%;
    height: 100%;
    margin-left: 10%;
    background-color: transparent;
}

#sign-up-main-container > #mid > #inner > span {
    position: relative;
    font-size: 1.1em;
    top: 13%;
    font-family: 'prototype', 'Jura-Bold', sans-serif;
    color: #b2c7e4;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

#sign-up-main-container > #form-container {
    width: 100%;
    height: 74%;
    background-color: transparent;
}

#username-field {
    position: absolute;
    width: 80%;
    padding-left: 13px;
    padding-top: 10px;
    padding-bottom: 10px;
    left: 9%;
    color: white;
    background-color: black;
    outline: none;
    border: 1px solid #738399;
    border-radius: 5px;
    font-size: 0.9em;
}

#email-field {
    position: absolute;
    width: 80%;
    padding-left: 13px;
    padding-top: 10px;
    padding-bottom: 10px;
    left: 9%;
    top: 39%;
    color: white;
    background-color: black;
    outline: none;
    border: 1px solid #738399;
    border-radius: 5px;
    font-size: 0.9em;
}

#password-field {
    position: absolute;
    width: 80%;
    padding-left: 13px;
    padding-top: 10px;
    padding-bottom: 10px;
    left: 9%;
    top: 52%;
    color: white;
    background-color: black;
    outline: none;
    border: 1px solid #738399;
    border-radius: 5px;
    font-size: 0.9em;
}

#password-confirmation-field {
    position: absolute;
    width: 80%;
    padding-left: 13px;
    padding-top: 10px;
    padding-bottom: 10px;
    left: 9%;
    top: 65%;
    color: white;
    background-color: black;
    outline: none;
    border: 1px solid #738399;
    border-radius: 5px;
    font-size: 0.9em;
}

#submit-registration-data {
    position: absolute;
    width: 80%;
    height: 8%;
    font-size: 1.1em;
    font-family: 'prototype', 'Jura-Bold', sans-serif;
    color: black;
    background-color: #96afff; /* click #6273a9 */
    border: none;
    border-radius: 5px;
    left: 10%;
    top: 77%;
    cursor: pointer;
}

#submit-registration-data:active {
    background-color: #6779b3;
    -webkit-transition: background-color 0.1s linear;
    -moz-transition: background-color 0.1s linear;
    -ms-transition: background-color 0.1s linear;
    -o-transition: background-color 0.1s linear;
    transition: background-color 0.1s linear;
}

.register-input:focus {
    
}

#password-requirements-tooltip {
    position: absolute;
    display: none;
    justify-content: center;
    width: 35%;
    height: 20%;
    top: 39.5%;
    left: -30%;
    background-color: rgb(171 28 60);
    border-radius: 5px;
}

#password-requirements-tooltip::after {
    content: "";
    position: absolute;
    top: 70%;
    left: 100%;
    margin-top: -5px;
    border-width: 12px;
    border-style: solid;
    border-color: transparent transparent transparent rgb(171 28 60);
}

#password-requirements-tooltip > #top {
    position: absolute;
    width: 100%;
    height: 25%;
    background-color: transparent;
}

#password-requirements-tooltip > #top > #inner {
    position: absolute;
    width: 95%;
    height: 100%;
    left: 2.5%;
    background-color: transparent;
    border-bottom: 1px solid grey;
}

#password-requirements-tooltip > #top > #inner > span {
    position: absolute;
    left: 6%;
    top: 2%;
    font-size: 1em;
    font-family: 'prototype', 'Jura-Bold', sans-serif;
    color: #b2c7e4;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

#password-requirements-tooltip > #mid {
    position: absolute;
    width: 95%;
    height: 65%;
    left: 2.5%;
    top: 30%;
    background-color: transparent;
}

#password-requirements-tooltip > #mid > span {
    margin-left: 13px;
    top: 2%;
    font-size: 0.8em;
    font-family: 'Roboto-Regular', 'prototype', 'Jura-Bold', sans-serif;
    color: #b2c7e4;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

/* ============= REGISTRATION DATA END ============= */


#search-game-index-container {
    position: absolute;
    width: 35%;
    height: 23%;
    left: 5%;
    top: 30%;
    background-color: transparent;
}

#search-game-index-container > #top {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 27%;
    background-color: transparent;
}

#search-game-index-container > #top > span {
    position: absolute;
    font-size: 2.5em;
    font-family: 'prototype', 'Jura-Bold', sans-serif;
    color: #b2c7e4;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

#search-game-index-container > #mid {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 25%;
    top: 53%;
    background-color: transparent;
}

#search-game-index-container > #mid > #collection-redirect-text {
    position: absolute;
    font-size: 2em;
    font-family: 'prototype', 'Jura-Bold', sans-serif;
    color: #b2c7e4;
    top: 10%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

#search-game-index-container > #bottom {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 17%;
    top: 78%;
    background-color: transparent;
}

#search-game-index-container > #bottom > i {
    font-size: 1.8em;
    color: #b6c6e0;
}

#search-game {
    position: absolute;
    width: 80%;
    padding-left: 13px;
    padding-top: 13px;
    padding-bottom: 13px;
    left: 9%;
    top: 31%;
    color: white;
    background-color: #21072c;
    outline: none;
    border: 1px solid #a11443;
    border-radius: 5px;
    font-size: 0.9em;
}

#search-game-index-container > #search-game-icon {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 8%;
    height: 23%;
    left: 91.5%;
    top: 29%;
    background-color: transparent;
    cursor: pointer;
}

#search-game-index-container > #search-game-icon > i {
    position: absolute;
    font-size: 1.7em;
    top: 25%;
    color: #b2c7e4;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}




#search-users-container {
    position: absolute;
    width: 35%;
    height: 23%;
    left: 32.5%;
    top: 9%;
    background-color: transparent;
}

#search-users-container > #top {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 27%;
    background-color: transparent;
}

#search-users-container > #top > span {
    position: absolute;
    font-size: 2.5em;
    font-family: 'prototype', 'Jura-Bold', sans-serif;
    color: #b2c7e4;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

#users-listing-container {
    position: absolute;
    display: block;
    width: 90%;
    height: 80%;
    left: 5%;
    top: 20%;
    background-color: rgba(0, 0, 0, 0.7);
}

#users-listing-container > #listing {
    position: absolute;
    width: 93%;
    height: 94%;
    left: 3.5%;
    top: 0.5%;
    background-color: transparent;
}

#users-listing-container > #listing > .member-listing-item {
    position: relative;
    display: inline-block;
    width: 10%;
    height: 30%;
    margin-left: 7px;
    margin-top: 5px;
    left: 0.5%;
    top: 3%;
    border-radius: 3px;
    background-color: transparent; /* #cd002f */
    cursor: pointer;
}

#users-listing-container > #listing > .member-listing-item > .member-picture {
    position: absolute;
    width: 91%;
    height: 65%;
    margin-left: 4.5%;
    background-color: transparent;
    border-radius: 100%;
}

#users-listing-container > #listing > .member-listing-item > .member-picture > img {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 100%;
}

#users-listing-container > #listing > .member-listing-item > .member-info {
    position: absolute;
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 35%;
    top: 65%;
    background-color: transparent;
}

#users-listing-container > #listing > .member-listing-item > .member-info > .username {
    position: absolute;
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 50%;
    background-color: transparent;
}

#users-listing-container > #listing > .member-listing-item > .member-info > .username > span {
    position: absolute;
    top: 30%;
    font-family: 'prototype', 'Jura-Bold', sans-serif;
    font-size: 1.1em;
    color: #b2c7e4;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

#users-listing-container > #listing > .member-listing-item > .member-info > .following {
    position: absolute;
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 50%;
    top: 50%;
    background-color: transparent;
}

#users-listing-container > #listing > .member-listing-item > .member-info > .following > span {
    position: absolute;
    top: 10%;
    font-family: 'prototype', 'Jura-Bold', sans-serif;
    font-size: 0.9em;
    color: #b2c7e4;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}


#search-member {
    position: absolute;
    width: 80%;
    padding-left: 13px;
    padding-top: 13px;
    padding-bottom: 13px;
    left: 9%;
    top: 27%;
    color: white;
    background-color: black;
    outline: none;
    border: 1px solid #738399;
    border-radius: 5px;
    font-size: 0.9em;
}

#search-users-container > #search-member-icon {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 8%;
    height: 23%;
    left: 91.5%;
    top: 25%;
    background-color: transparent;
    cursor: pointer;
}

#search-users-container > #search-member-icon > i {
    position: absolute;
    font-size: 1.7em;
    top: 25%;
    color: #b2c7e4;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}




#search-game-container {
    position: absolute;
    width: 35%;
    height: 23%;
    left: 32.5%;
    top: 9%;
    background-color: transparent;
}

#search-game-container > #top {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 27%;
    background-color: transparent;
}

#search-game-container > #top > span {
    position: absolute;
    font-size: 2.5em;
    font-family: 'prototype', 'Jura-Bold', sans-serif;
    color: #b2c7e4;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

#search-game-container > #search-form > #search-game {
    position: absolute;
    width: 80%;
    padding-left: 13px;
    padding-top: 13px;
    padding-bottom: 13px;
    left: 9%;
    top: 27%;
    color: white;
    background-color: black;
    outline: none;
    border: 1px solid #738399;
    border-radius: 5px;
    font-size: 0.9em;
}

#search-game-container > #search-game-icon {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 8%;
    height: 23%;
    left: 91.5%;
    top: 25%;
    background-color: transparent;
    cursor: pointer;
}

#search-game-container > #search-game-icon > i {
    position: absolute;
    font-size: 1.7em;
    top: 25%;
    color: #b2c7e4;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}



#game-platforms {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 11%;
    height: 3.5%;
    top: 16.5%;
    left: 20%;
    background-color: rgba(0, 0, 0, 0.7);
}

#game-platforms > .platform {
    position: relative;
    display: inline-block;
    text-align: center;
    width: 20%;
    height: 100%;
    margin-left: 2px;
    background-color: transparent;
    cursor: pointer;
}

#game-platforms > .platform > span {
    position: relative;
    font-size: 1em;
    font-family: 'prototype', 'Jura-Bold', sans-serif;
    top: 25%;
    color: #b2c7e4;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}



.collection-container {
    position: absolute;
    display: block;
    width: 90%;
    height: 80%;
    left: 5%;
    top: 20%;
    background-color: rgba(0, 0, 0, 0.7);
}

.collection-container > #collection {
    position: absolute;
    width: 93%;
    height: 94%;
    left: 3.5%;
    top: 0.5%;
    background-color: transparent;
}

.collection-container > #collection > .collection-item {
    position: relative;
    display: inline-block;
    width: 10%;
    height: 30%;
    margin-left: 7px;
    margin-top: 5px;
    left: 0.5%;
    top: 3%;
    border: 3px solid rgb(230, 230, 230);
    border-radius: 3px;
    background-color: #cd002f;
    cursor: pointer;
}

.collection-container > #collection > .collection-item > .cover {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 3px;
    background-color: transparent;
}

.collection-container > #collection > .collection-item:hover > .collection-item-slider {
    display: flex;
}

.collection-container > #collection > .collection-item > .collection-item-slider {
    position: absolute;
    display: none;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #e6e6e6;
}

.collection-container > #collection > .collection-item > .collection-item-slider > .game-name {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 10%;
    background-color: transparent;
}

.collection-container > #collection > .collection-item > .collection-item-slider > .game-name > span {
    position: absolute;
    font-size: 1em;
    font-family: 'prototype', 'Jura-Bold', sans-serif;
    color: black;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}




.collection-container > #collection > .collection-item > .collection-item-slider > .uploader-name {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 10%;
    top: 13%;
    background-color: transparent;
}

.collection-container > #collection > .collection-item > .collection-item-slider > .uploader-name > span {
    position: absolute;
    font-size: 0.9em;
    font-family: 'prototype', 'Jura-Bold', sans-serif;
    color: black;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}




.collection-container > #collection > .collection-item > .collection-item-slider > .likes {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 10%;
    top: 30%;
    background-color: transparent;
}

.collection-container > #collection > .collection-item > .collection-item-slider > .likes > span {
    position: absolute;
    font-size: 0.9em;
    font-family: 'prototype', 'Jura-Bold', sans-serif;
    color: black;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}



.collection-container > #collection > .collection-item > .collection-item-slider > .views {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 10%;
    top: 75%;
    background-color: transparent;
}

.collection-container > #collection > .collection-item > .collection-item-slider > .views > span {
    position: absolute;
    font-size: 0.9em;
    font-family: 'prototype', 'Jura-Bold', sans-serif;
    color: black;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}



.collection-container > #collection > .collection-item > .collection-item-slider > .favourited {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 10%;
    top: 45%;
    background-color: transparent;
}

.collection-container > #collection > .collection-item > .collection-item-slider > .favourited > span {
    position: absolute;
    font-size: 0.9em;
    font-family: 'prototype', 'Jura-Bold', sans-serif;
    color: black;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}



.collection-container > #collection > .collection-item > .collection-item-slider > .comments {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 10%;
    top: 60%;
    background-color: transparent;
}

.collection-container > #collection > .collection-item > .collection-item-slider > .comments > span {
    position: absolute;
    font-size: 0.9em;
    font-family: 'prototype', 'Jura-Bold', sans-serif;
    color: black;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}



.collection-container > #collection > .collection-item > .cover > img {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 3px;
    background-color: transparent;
}



#game-preview-container {
    position: absolute;
    display: none;
    width: 100%;
    height: 91%;
    background-color: rgb(0, 0, 0);
}

#game-preview-container > #top > #exit-preview {
    position: absolute;
    color: white;
    left: 95%;
    font-size: 1.7em;
    cursor: pointer;
}



#game-preview-container > #preview {
    position: absolute;
    width: 85%;
    height: 90%;
    left: 7.5%;
    top: 10%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    background-color: #04070a;
}


#game-preview-container > #preview > #top {
    position: absolute;
    width: 52%;
    left: 42%;
    top: 9%;
    height: 5%;
    background-color: transparent;
}

#game-preview-container > #preview > #top > #inner {
    position: absolute;
    width: auto;
    height: 100%;
    padding-left: 2%;
    padding-right: 2%;
    background-color: transparent;
}

#game-preview-container > #preview > #top > #inner > span {
    font-size: 2.4em;
    font-family: 'prototype', 'Jura-Bold', sans-serif;
    color: white;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

#game-preview-container > #preview > #item-actions {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 24%;
    height: 6.5%;
    left: 16%;
    top: 75.7%;
    background-color: transparent;
}

#game-preview-container > #preview > #item-actions > .action-button {
    position: relative;
    text-align: center;
    width: 20%;
    height: 100%;
    margin-left: 3px;
    background-color: transparent; /* rgb(141, 11, 68) */
}

#game-preview-container > #preview > #item-actions > .action-button > span {
    margin-top: 10%;
    font-size: 0.9em;
    font-family: 'prototype', 'Jura-Bold', sans-serif;
    color: #c8dfff;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

#game-preview-container > #preview > #item-actions > .action-button > span > i {
    margin-top: 10%;
    font-size: 1.4em;
    color: #c8dfff;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    cursor: pointer;
}

#game-preview-container > #preview > #item-actions > .no-action > span > i {
    cursor: auto;
}


#account-login-first {
    position: absolute;
    display: none;
    justify-content: center;
    width: 20%;
    height: 5%;
    top: 81%;
    left: 18%;
    border-radius: 5px;
    background-color: #cd002f;
}

#account-login-first > span {
    position: absolute;
    top: 20%;
    color: white;
    font-size: 1em;
    font-family: 'prototype', 'Jura-Bold', sans-serif;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}



#comment-rate-warning {
    position: absolute;
    display: none;
    justify-content: center;
    width: 20%;
    height: 4.5%;
    top: 94%;
    left: 41%;
    border-radius: 5px;
    background-color: #cd002f;
}

#comment-rate-warning > span {
    position: absolute;
    top: 20%;
    color: white;
    font-size: 1em;
    font-family: 'prototype', 'Jura-Bold', sans-serif;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}



#game-preview-container > #preview > #game-cover {
    position: absolute;
    width: 24%;
    height: 70%;
    left: 16%;
    top: 5%;
    border: 2px solid #a9afe5; /* #cd002f */
    border-radius: 5px;
    background-color: rgb(46, 15, 46);
}

#game-preview-container > #preview > #game-cover > img {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

#game-preview-container > #preview > #item-information {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 45%;
    height: 50%;
    left: 41%;
    top: 16%;
    background-color: transparent;
}

#game-preview-container > #preview > #item-information > #inner {
    position: absolute;
    width: 90%;
    height: 100%;
    left: 5%;
    background-color: transparent; /* rgb(167, 77, 167) */
}

#game-preview-container > #preview > #item-information > #inner > #uploader {
    position: absolute;
    width: 100%;
    height: 23%;
    top: 4.5%;
    background-color: transparent;
}

#game-preview-container > #preview > #item-information > #inner > #uploader > #image {
    position: absolute;
    width: 11.5%;
    height: 81%;
    top: 7%;
    left: 2%;
    border-radius: 9px;
    border: 2px solid white;
    background-color: transparent;
    cursor: pointer;
}

#game-preview-container > #preview > #item-information > #inner > #uploader > #image > img {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 9px;
}

#game-preview-container > #preview > #item-information > #inner > #uploader > #display-name {
    position: absolute;
    width: 80%;
    height: 90%;
    top: 5%;
    left: 15%;
    background-color: transparent;
}

#game-preview-container > #preview > #item-information > #inner > #uploader > #display-name > span {
    position: absolute;
    top: 30%;
    left: 2%;
    font-size: 1.4em;
    font-family: 'prototype', 'Jura-Bold', sans-serif;
    color: white;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    cursor: pointer;
}

#game-preview-container > #preview > #item-information > #inner > #game-info {
    position: absolute;
    width: 90%;
    height: 70%;
    left: 2%;
    top: 29%;
    background-color: transparent; /* rgb(167, 77, 167) */
}

#game-preview-container > #preview > #item-information > #inner > #game-info > #iso > span:nth-child(2) > a {
    text-decoration: none;
    color: #ff2c49;
}



.game-info-text {
    width: 100%;
    height: 15%;
    background-color: transparent;
}

.game-info-text:nth-child(1) {
    margin-top: 15px;
}

.game-info-text > span {
    position: relative;
    top: 30%;
    left: 5%;
    font-size: 1em;
    font-family: 'prototype', 'Jura-Bold', sans-serif;
    color: white;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}



#game-preview-container > #preview > #write-comment {
    position: absolute;
    width: 40%;
    height: 21%;
    left: 43.5%;
    top: 67%;
    background-color: transparent;
}

#game-preview-container > #preview > #write-comment > form > #collection-item-comment-input-field {
    position: absolute;
    width: 80%;
    resize: none;
    padding-bottom: 90px;
    padding-left: 13px;
    left: 5%;
    top: 20%;
    color: white;
    background-color: black;
    outline: none;
    border: 1px solid #738399;
    border-radius: 5px;
    font-size: 1.3em;
}

#game-preview-container > #preview > #write-comment > #top {
    position: absolute;
    width: 65%;
    height: 19%;
    left: 9%;
    background-color: transparent;
}

#game-preview-container > #preview > #write-comment > #top > span {
    position: absolute;
    left: 5%;
    top: 10%;
    font-size: 1em;
    font-family: 'prototype', 'Jura-Bold', sans-serif;
    color: white;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

#game-preview-container > #preview > #write-comment > form > #comment-submit {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 5%;
    height: 18%;
    left: 90%;
    top: 45%;
    border-radius: 7px;
    background-color: #1b3146;
    cursor: pointer;
}

#game-preview-container > #preview > #write-comment > form > #comment-submit > i {
    position: absolute;
    top: 15%;
    font-size: 1.3em;
    color: #fc5603;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}


/* COLLECTION PAGE START */
#top-section {
    width: 100%;
    height: 9%;
    background-color: transparent;
}

#mid-section {
    width: 100%;
    height: 91%;
    background-color: transparent;
}

#comment-section {
    width: 100%;
    height: auto;
    display: none;
    background-color: black;
}

#comment-section > #inner {
    position: relative;
    width: 85%;
    height: auto;
    left: 7.5%;
    background-color: #04070a; /* #04070a #cd002f #315272 */
}

#comment-section > #inner > #spinner {
    display: none;
    width: 100%;
    height: 50px;
    padding-top: 13px;
    padding-bottom: 13px;
    background-color: transparent;
}

#no-comments {
    display: none;
    width: 100%;
    height: 120px;
    padding-top: 13px;
    padding-bottom: 13px;
    background-color: transparent;
}

#no-comments > #inner {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: transparent;
}

#no-comments > #inner > span {
    position: relative;
    top: 10%;
    font-size: 1.5em;
    font-family: 'prototype', 'Jura-Bold', sans-serif;
    color: white;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.comment-box {
    display: none;
    margin-left: 13%;
    width: 55%;
    height: 220px;
    padding-top: 13px;
    padding-bottom: 13px;
    background-color: transparent;
}

.comment-box > .inner {
    margin-left: 5%;
    width: 90%;
    height: 80%;
    padding: 5px 5px 5px 5px;
    border-radius: 5px;
    border-right: 1px solid #cd002f;
    background-color: #0a0e12;
}

.comment-box > .inner > .user-pic {
    position: relative;
    width: 13%;
    height: 100px;
    left: 1%;
    border-radius: 15px;
    background-color: transparent;
}

.comment-box > .inner > .user-pic > img {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 15px;
}






.comment-box > .inner > .comment-info-top {
    position: relative;
    width: 75%;
    height: 35px;
    left: 17%;
    top: -60%;
    border-radius: 5px;
    background-color: transparent;
}

.comment-box > .inner > .comment-info-top > .info {
    position: relative;
    display: inline-block;
    width: 45%;
    height: 100%;
    padding-left: 5px;
    padding-right: 5px;
    background-color: transparent;
}

/* ========= clearfix start ========= */
.comment-box > .inner > .comment-info-top > .info::after {
    content: "";
    clear: both;
    display: inline-block;
}
/* ========= clearfix end ========= */

.comment-box > .inner > .comment-info-top > .info:nth-child(1) {
    width: 25%;
}

.comment-box > .inner > .comment-info-top > .info:nth-child(2) {
    width: 15%;
}

.comment-box > .inner > .comment-info-top > .info:nth-child(2) > span {
    font-family: 'Roboto-Regular', 'Jura-Bold', sans-serif;
    font-size: 0.9em;
}

.comment-box > .inner > .comment-info-top > .info:nth-child(3) {
    left: 14%;
}

.comment-box > .inner > .comment-info-top > .info > .like {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 35%;
    height: 100%;
    left: 22%;
    background-color: transparent;
}

.comment-box > .inner > .comment-info-top > .info > .like > span {
    position: absolute;
    top: 10%;
    font-size: 1em;
    font-family: 'prototype', 'Jura-Bold', sans-serif;
    color: #b2c7e4;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.comment-box > .inner > .comment-info-top > .info > .like > span > i {
    cursor: pointer;
}

.comment-box > .inner > .comment-info-top > .info > .reply {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 35%;
    height: 100%;
    left: 60%;
    background-color: transparent;
}

.comment-box > .inner > .comment-info-top > .info > .reply > span {
    position: absolute;
    top: 10%;
    font-size: 1em;
    font-family: 'prototype', 'Jura-Bold', sans-serif;
    color: #ff2c49;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    cursor: pointer;
}

.comment-box > .inner > .comment-info-top > .info > .reply > span > i {
    cursor: pointer;
}


.comment-box > .inner > .comment-info-top > .info > span {
    position: relative;
    top: 10%;
    font-size: 1em;
    font-family: 'prototype', 'Jura-Bold', sans-serif;
    color: white;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.comment-box > .inner > .comment {
    position: relative;
    width: 83%;
    height: 70%;
    top: -63%;
    left: 15%;
    padding-left: 5px;
    padding-right: 5px;
    border-left: 1px solid #476f9c;
    background-color: transparent;
}

.comment-box > .inner > .comment > .inner {
    position: relative;
    width: 97%;
    height: 95%;
    top: 2.5%;
    left: 0.9%;
    padding-right: 15px;
    overflow-x: hidden;
    overflow-wrap: break-word;
    word-wrap: break-word;
    background-color: transparent;
}

.comment-box > .inner > .comment > .inner > span {
    position: absolute;
    top: 10%;
    font-size: 0.9em;
    font-family: 'Roboto-Regular', 'Jura-Bold', sans-serif;
    color: white;
}
/* COLLECTION PAGE END */



.pagination-container {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 5%;
    top: 95%;
    background-color: transparent;
}

.pagination-container > #inner {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 35%;
    height: 100%;
    background-color: transparent;
}

.pagination-container > #inner > .page-item {
    position: relative;
    display: inline-block;
    text-align: center;
    margin-left: 9px;
    width: 6.5%;
    height: 100%;
    border-radius: 100px;
    background-color: white;
    cursor: pointer;
}

.pagination-container > #inner > .page-item:nth-child(4) {
    cursor: auto;
}

.pagination-container > #inner > .page-item > span {
    position: relative;
    top: 20%;
    font-size: 1em;
    font-family: 'RussoOne-Regular', 'prototype', 'Jura-Bold', sans-serif;
    color: black;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}


#ps1 {
    display: none;
}

#ps3 {
    display: none;
}


#collection-redirect-container {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 120px;
    height: 120px;
    top: 55%;
    left: 19.3%;
    border-radius: 100%;
    cursor: pointer;
}

.active-circle {
    background-color: white;
}

.inactive-circle {
    background-color: rgb(141, 11, 68);
}




#lang-container {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 4%;
    height: 25%;
    top: 36%;
    left: 0%;
    background-color: transparent;
}

#lang-container > #inner {
    position: absolute;
    width: 90%;
    height: 50%;
    top: 25%;
    background-color: transparent;
}

#lang-container > #inner > #en {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 50%;
    background-color: transparent;
}

#lang-container > #inner > #bg {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 50%;
    top: 50%;
    background-color: transparent;
}

.lang-img-container > img {
    position: absolute;
    width: 60%;
    height: 60%;
    top: 25%;
    cursor: pointer;
}

#statistics-showcase-container {
    position: absolute;
    width: 35%;
    height: 50%;
    left: 61%;
    top: 30%;
    background-color: transparent;
}

#statistics-showcase-container > #top {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 12%;
    background-color: transparent;
}

#statistics-showcase-container > #top > span {
    position: absolute;
    font-size: 2.5em;
    font-family: 'prototype', 'Jura-Bold', sans-serif;
    color: #b2c7e4;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

#statistics-showcase-container > #games-section {
    position: absolute;
    width: 100%;
    height: 87%;
    top: 12.5%;
    background-color: transparent;
}

#statistics-showcase-container > #games-section > .game {
    position: absolute;
    width: 25.5%;
    height: 54%;
    left: 5%;
    top: 7%;
    border: 3px solid rgb(230, 230, 230);
    border-radius: 3px;
    background-color: transparent;
    -webkit-transition: transform 0.3s;
    -moz-transition: transform 0.3s;
    -ms-transition: transform 0.3s;
    -o-transition: transform 0.3s;
    transition: transform 0.3s;
}

#statistics-showcase-container > #games-section > .game:nth-child(2){
    left: 35%;
}

#statistics-showcase-container > #games-section > .game:nth-child(3){
    left: 65%;
}

#statistics-showcase-container > #games-section > .game > .cover {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 3px;
    background-color: transparent;
}

#statistics-showcase-container > #games-section > .game > .cover > img {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 3px;
    background-color: transparent;
}

.likes-count-showcase {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 23%;
    height: 8%;
    left: 6.8%;
    top: 70%;
    border-radius: 5px;
    background-color: #fc5603;
}

.aa2 {
    left: 36.8%;
}

.aa3 {
    left: 66.8%;
}

.likes-count-showcase > span {
    position: absolute;
    font-size: 1.3em;
    top: 15%;
    font-family: 'prototype', 'Jura-Bold', sans-serif;
    color: white;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

#statistics-showcase-container > #games-section > .game:hover {
    -webkit-transform: translate(0px, -10px);
    -moz-transform: translate(0px, -10px);
    -ms-transform: translate(0px, -10px);
    -o-transform: translate(0px, -10px);
    transform: translate(0px, -10px);
}

/*#statistics-showcase-container > #games-section > .game > .slider {
    position: absolute;
    display: none;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #e6e6e6;
}

#statistics-showcase-container > #games-section > .game:hover > .slider {
    display: flex;
}*/



#sign-out {
    position: absolute;
    display: flex;
    justify-content: center;
    text-align: center;
    width: 3%;
    height: 60%;
    top: 20%;
    left: 96.3%;
    background-color: transparent;
}

#sign-out > i {
    position: absolute;
    color: #ff5500;
    top: 11%;
    font-size: 2.5em;
    cursor: pointer;
}

#sign-out > i:hover {
    color: white;
}

#logout-confirmation-modal {
    position: absolute;
    display: none;
    justify-content: center;
    text-align: center;
    width: 22%;
    height: 9%;
    left: 39%;
    top: -9.3%;
    /*border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-left: 1px solid #cd002f;
    border-right: 1px solid #cd002f;*/
    border-left: 2px solid #a11443;
    border-right: 2px solid #a11443;
    border-bottom: 2px solid #a11443;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #0a1118;
    z-index: 3;
}

#logout-confirmation-modal > #inner {
    position: absolute;
    display: flex;
    justify-content: center;
    text-align: center;
    width: 90%;
    height: 95%;
    top: 2.5%;
    background-color: transparent;
}

#logout-confirmation-modal > #inner > #message {
    position: relative;
    top: 17%;
    font-size: 1em;
    font-family: 'prototype', 'Jura-Bold', sans-serif;
    color: #b2c7e4;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

#logout-confirmation-modal > #inner > #confirmation-buttons {
    position: absolute;
    display: flex;
    justify-content: center;
    text-align: center;
    width: 90%;
    height: 27%;
    top: 70%;
    background-color: transparent;
}

#logout-confirmation-modal > #inner > #confirmation-buttons > #yes {
    position: relative;
    display: inline-block;
    text-align: center;
    width: 20%;
    height: 100%;
    background-color: transparent;
}

#logout-confirmation-modal > #inner > #confirmation-buttons > #no {
    position: relative;
    display: inline-block;
    text-align: center;
    width: 20%;
    height: 100%;
    background-color: transparent;
}

#logout-confirmation-modal > #inner > #confirmation-buttons > .button > span {
    position: relative;
    font-size: 1em;
    font-family: 'prototype', 'Jura-Bold', sans-serif;
    color: #fc5603;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    cursor: pointer;
}



footer {
    width: 100%;
    height: 10%;
    background-color: #1d2430;
}

#footer-inner {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: transparent;
}

#footer-inner > span {
    font-size: 1.1em;
    font-family: 'prototype';
    color: #b6c6e0;
    margin-top: 1.9%;
}

#scrolltop-caret {
    position: relative;
    color:white;
    left: 50%;
    top: -8px;
    font-size: 2.5em;
    cursor: pointer;
}

#spinner {
    /* position: absolute; display: none; top: 79%; left: 4%; font-size: 1.4em; color: white; */
}

::-webkit-scrollbar { width: 10px;}
::-webkit-scrollbar-track { background: #555; }
::-webkit-scrollbar-thumb { background: #888; }
::-webkit-scrollbar-thumb:hover { background: #555; }

::-moz-scrollbar { width: 10px;}
::-moz-scrollbar-track { background: #555; }
::-moz-scrollbar-thumb { background: #888; }
::-moz-scrollbar-thumb:hover { background: #555; }

::-ms-scrollbar { width: 10px;}
::-ms-scrollbar-track { background: #555; }
::-ms-scrollbar-thumb { background: #888; }
::-ms-scrollbar-thumb:hover { background: #555; }

::-o-scrollbar { width: 10px;}
::-o-scrollbar-track { background: #555; }
::-o-scrollbar-thumb { background: #888; }
::-o-scrollbar-thumb:hover { background: #555; }