@font-face {
    font-family: 'TempestApacheBold-Z0el';
    src: url("/chan/fonts/TempestApacheBold-Z0el.otf") format("opentype");
}

@font-face {
    font-family: 'Xephyr-Z08l';
    src: url("/chan/fonts/Xephyr-Z08l.otf") format("opentype");
}

@font-face {
    font-family: 'RussoOne-Regular';
    src: url("/chan/fonts/cyrillic/RussoOne-Regular.ttf") format("truetype");
}

@font-face {
    font-family: 'Jura-Bold';
    src: url("/chan/fonts/cyrillic/Jura-Bold.ttf") format("truetype");
}

@font-face {
    font-family: 'prototype';
    src: url("/chan/fonts/prototype.ttf") format("truetype");
}

@font-face {
    font-family: 'neuropolitical';
    src: url("/chan/fonts/neuropolitical.ttf") format("truetype");
}

@font-face {
    font-family: 'Roboto-Bold';
    src: url("/chan/fonts/roboto-bold.ttf") format("truetype");
}

@font-face {
    font-family: 'Roboto-Light';
    src: url("/chan/fonts/Roboto-Light.ttf") format("truetype");
}

@font-face {
    font-family: 'Roboto-Regular';
    src: url("/chan/fonts/roboto-medium.ttf") format("truetype");
}

@font-face {
    font-family: 'Arial-Black';
    src: url("/chan/fonts/ariblk.ttf") format("truetype");
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #13181a;
    /*background-image: url("/chan/img/Untitled.png");
    background-size: cover;
    background-repeat: repeat-y;
    background-position: center;*/
}

body {
    /*background-image: url("/chan/img/Untitled.png");
    background-size: cover;
    background-position: center;*/
}

#main-container {
    width: 100%;
    height: 100%;
    background-image: url("/ps-classics/img/cropped-5120-2880-1155233.png");
    background-size: cover;
    background-position: center;
}

#navbar {
    position: relative;
    width: 100%;
    height: 9%;
    background-color: rgba(0, 0, 0, 0.1);
}

#site-name {
    position: absolute;
    width: 18%;
    height: 90%;
    left: 5%;
    top: 7%;
    background-color: transparent;
}

#site-name > #logo {
    position: absolute;
    width: 33%;
    height: 100%;
    background-color: transparent;
}

#site-name > #logo > img {
    position: absolute;
    width: 80%;
    height: 100%;
    left: 10%;
    top: -3%;
}

#site-name > #name-text {
    position: absolute;
    font-size: 2.1em;
    font-family: 'TempestApacheBold-Z0el';
    color: #b2c7e4;
    left: 35%;
    top: 29%;
}

#login-button {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 4%;
    height: 40%;
    background-color: #96afff;
    border-radius: 3px;
    left: 92%;
    top: 27%;
    cursor: pointer;
}

#login-button > span {
    position: absolute;
    font-size: 1.1em;
    font-family: 'prototype', 'Jura-Bold', sans-serif;
    color: black;
    margin-top: 7%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

#sign-up-main-container {
    position: absolute;
    width: 35%;
    height: 50%;
    left: 61%;
    top: 30%;
    background-color: transparent;
}

#sign-up-main-container > #top {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 13%;
    background-color: transparent;
}

#sign-up-main-container > #top > span {
    position: absolute;
    font-size: 2.5em;
    font-family: 'prototype', 'Jura-Bold', sans-serif;
    color: #b2c7e4;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

#sign-up-main-container > #mid {
    width: 100%;
    height: 13%;
    background-color: transparent;
}

#sign-up-main-container > #mid > #inner {
    width: 80%;
    height: 100%;
    margin-left: 10%;
    background-color: transparent;
}

#sign-up-main-container > #mid > #inner > span {
    position: relative;
    font-size: 1.1em;
    top: 13%;
    font-family: 'prototype', 'Jura-Bold', sans-serif;
    color: #b2c7e4;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
#sign-up-main-container > #form-container {
    width: 100%;
    height: 74%;
    background-color: transparent;
}



#username-field {
    position: absolute;
    width: 80%;
    padding-left: 13px;
    padding-top: 10px;
    padding-bottom: 10px;
    left: 9%;
    color: white;
    background-color: black;
    outline: none;
    border: 1px solid #738399;
    border-radius: 5px;
    font-size: 0.9em;
}

#email-field {
    position: absolute;
    width: 80%;
    padding-left: 13px;
    padding-top: 10px;
    padding-bottom: 10px;
    left: 9%;
    top: 39%;
    color: white;
    background-color: black;
    outline: none;
    border: 1px solid #738399;
    border-radius: 5px;
    font-size: 0.9em;
}

#password-field {
    position: absolute;
    width: 80%;
    padding-left: 13px;
    padding-top: 10px;
    padding-bottom: 10px;
    left: 9%;
    top: 52%;
    color: white;
    background-color: black;
    outline: none;
    border: 1px solid #738399;
    border-radius: 5px;
    font-size: 0.9em;
}

#password-confirmation-field {
    position: absolute;
    width: 80%;
    padding-left: 13px;
    padding-top: 10px;
    padding-bottom: 10px;
    left: 9%;
    top: 65%;
    color: white;
    background-color: black;
    outline: none;
    border: 1px solid #738399;
    border-radius: 5px;
    font-size: 0.9em;
}

#submit-registration-data {
    position: absolute;
    width: 80%;
    height: 8%;
    font-size: 1.1em;
    font-family: 'prototype', 'Jura-Bold', sans-serif;
    color: black;
    background-color: #96afff; /* click #6273a9 */
    border-radius: 5px;
    left: 10%;
    top: 77%;
    cursor: pointer;
}

.register-input:focus {
    
}

#search-game-container {
    position: absolute;
    width: 35%;
    height: 23%;
    left: 5%;
    top: 30%;
    background-color: transparent;
}

#search-game-container > #top {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 27%;
    background-color: transparent;
}

#search-game-container > #top > span {
    position: absolute;
    font-size: 2.5em;
    font-family: 'prototype', 'Jura-Bold', sans-serif;
    color: #b2c7e4;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

#search-game-container > #mid {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 25%;
    top: 53%;
    background-color: transparent;
}

#search-game-container > #mid > #collection-redirect-text {
    position: absolute;
    font-size: 2em;
    font-family: 'prototype', 'Jura-Bold', sans-serif;
    color: #b2c7e4;
    top: 10%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

#search-game-container > #bottom {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 17%;
    top: 78%;
    background-color: transparent;
}

#search-game-container > #bottom > i {
    font-size: 1.8em;
    color: #b6c6e0;
}

#search-game {
    position: absolute;
    width: 80%;
    padding-left: 13px;
    padding-top: 13px;
    padding-bottom: 13px;
    left: 9%;
    top: 31%;
    color: white;
    background-color: #21072c;
    outline: none;
    border: 1px solid #a11443;
    border-radius: 5px;
    font-size: 0.9em;
}

#collection-redirect-container {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 120px;
    height: 120px;
    top: 55%;
    left: 19.3%;
    background-color: rgb(141 11 68);
    border-radius: 100%;
}

footer {
    width: 100%;
    height: 10%;
    background-color: #1d2430;
}

#footer-inner {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: transparent;
}

#footer-inner > span {
    font-size: 1.1em;
    font-family: 'prototype';
    color: #b6c6e0;
    margin-top: 1.9%;
}

::-webkit-scrollbar { width: 10px;}
::-webkit-scrollbar-track { background: #555; }
::-webkit-scrollbar-thumb { background: #888; }
::-webkit-scrollbar-thumb:hover { background: #555; }

::-moz-scrollbar { width: 10px;}
::-moz-scrollbar-track { background: #555; }
::-moz-scrollbar-thumb { background: #888; }
::-moz-scrollbar-thumb:hover { background: #555; }

::-ms-scrollbar { width: 10px;}
::-ms-scrollbar-track { background: #555; }
::-ms-scrollbar-thumb { background: #888; }
::-ms-scrollbar-thumb:hover { background: #555; }

::-o-scrollbar { width: 10px;}
::-o-scrollbar-track { background: #555; }
::-o-scrollbar-thumb { background: #888; }
::-o-scrollbar-thumb:hover { background: #555; }